.home-main {
  background-image: url("../media/beach.jpg");
  background-position: center;
  //   background-repeat: no-repeat;
  min-width: fit-content;
  min-height: 450px;
  max-height: 500px;
  margin-top: -20px;
}
.main-container {
  background-color: #0091ea;

  height: 150px;
  border-collapse: collapse;
  border-radius: 5px;
  .booking-form {
    background-color: #fff;
    height: 90px;
    display: inline-block;

    position: relative;
    margin-left: -12px;
    margin-right: -12px;
  }
}
.form-labels {
  font-size: 16px;
  font-weight: 600;
  color: #666;
}
.search-btn {
  margin-top: 32px;
  padding: 5px 50px !important;
  border-radius: 10px !important;
}
.form-input {
  border-radius: 15px !important;
}
.hotel-title {
  height: 100px;
  background-color: #e6eef2;
  border-radius: 50px;
  p {
    font-size: 28px;
    text-transform: uppercase;
  }
}
.hotel-card {
  //   background-image: url("../media/seymon.png");
  margin: 10px;
  height: 374px;
  width: 374px;
  border: 8px solid #f7f7f7;
  border-radius: 25px;
  overflow-y: hidden;

  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 1;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(12, 55, 80, 67%);
    opacity: 0.8;
    z-index: -1;
    &:hover {
      opacity: 0.5;
    }
  }
  .card-title {
    border-bottom: 6px solid white;
    margin: 0px 50px;
    border-radius: 20px;
    font-size: 24px;
  }
  .rooms {
    align-items: flex-end;
    margin-right: 40px;
    margin-top: 150px;
  }
}
.card-body {
  padding: 0%;
}
