@import "./home.scss";
@import "./variables.scss";
@import "./footer.scss";
@import "./forms.scss";
.search-icon {
  margin-top: 5px;
  font-size: 13px;
  font-weight: 100 !important;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
  &:hover,
  &:focus {
    color: blue !important;
  }
}
.text-brand {
  color: $primary-color !important;
  font-family: sans-serif;
}
.search-bar {
  background-color: white;
  height: 70px;

  padding-top: 10px;
}
